body {
    background-color: #000000;
    background-image: linear-gradient(360deg, #000000 0%, #8e92a1 74%);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.charts{
    display: inline-block;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: space-between;

}

.form-select{
    text-align: center;
    width: 100%;
    margin-right: 2rem;
}

label, h1, h4 {
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
}

h1{
    font-size: 2rem;
}

label, h4 {
    font-size: 1.5rem;
}